<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">

    <title>주소</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </script>
</head>



<body>


<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

   <form  id = "form" role="form" action=""  th:object="${loginRequestDto}"  method="post">

       <div th:if="${#fields.hasGlobalErrors()}">

           <p class="field-error" th:each="err : ${#fields.globalErrors()}"
              th:text="${err}">글로벌 오류 메시지</p>

       </div>


        <div class="form-group">
            <label >아이디</label>
            <input  type="text" name ="userId" th:field="${loginRequestDto.userId}" class="form-control"
            th:errorclass="field-error" placeholder="ex) wlsdud6523">
            <div class = "field-error" th:errors="${loginRequestDto.userId}">
                오류 메시지
            </div>
        </div>

        <div class="form-group">
            <label>비밀번호</label>
            <input  type="password" name="password" th:field="${loginRequestDto.password}" class="form-control"
                    th:errorclass="field-error">
            <div class = "field-error" th:errors="${loginRequestDto.password}">
                오류 메시지
            </div>
        </div>

        <button type="submit" class="btn btn-primary">입력</button>

    </form>


</div>

</body>

</html>