<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>


  <form th:object="${register}" method="post">

    <h3 th:if = "${param.status}" color = "color - red" th:text = "'변경 완료!'"></h3>
    <div class="form-group">
      <label >동물명</label>
      <input type="text" th:field="*{animalName}" class="form-control"
             placeholder="동물 이름을 입력하세요" />
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>