<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <h2>My Page</h2>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>회원 id</th>
                <th>회원명</th>
                <th>이메일</th>
                <th>전화 번호</th>
            </tr>
            </thead>

            <tbody>

            <tr>

                <td th:text="${member.id}"></td>
                <td th:text="${member.userId}"></td>
                <td th:text="${member.username}"></td>
                <td th:text="${member.email.first}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td>
                    <a href="#" th:href="@{/member/mypage/{id}/editMember (id=${member.id})}"
                       class="btn btn-primary" role="button">자세히 보기</a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>


    <div>
        <h3>나의 실종 등록 동물 내역</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>동물 이름</th>
                <th>동물 성별</th>
                <th>동물 나이</th>
                <th>실종 문제 해결 여부</th>
                <th>신고 여부</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="register : ${registerPage}">
                <td th:text="${register.id}"></td>
                <td th:text="${register.animalName}"></td>
                <td th:text="${register.animalSex}"></td>
                <td th:text="${register.animalAge}"></td>
                <td th:text="${register.registerStatus}"></td>
                <td th:text="${register.reportedStatus}"></td>
                <td>
                    <a href="#" th:href="@{/register/{registerId}/getOneRegister (registerId=${register.id})}"
                       class="btn btn-primary" role="button">자세히 보기</a>
                </td>
                <td th:if="${register.reportedStatus.toString()} == 'YES'">
                    <a href="#" th:href="@{/report/{registerId}/getReports (registerId=${register.id})}"
                       class="btn btn-primary" role="button">신고된 내역 보기</a>
                </td>
            </tr>
            </tbody>
        </table>



    </div>


    <div>
        <h3>나의 발견 신고 내역</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>신고 시간</th>
                <th>신고 주소</th>
            </tr>

            </thead>

            <tbody>
            <tr th:each="report : ${reportPage}">
                <td th:text="${report.id}"></td>
                <td th:text="${report.findedTime}"></td>
                <td th:text="${report.findedAddress}"></td>
                <td>
                    <a href="#" th:href="@{/report/{reportId}/getOneReport (reportId=${report.id})}"
                       class="btn btn-primary" role="button">자세히 보기</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!-- pageNumber를 [동적]으로 출력하는 부분 -->
    </div>

    <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">

        <a th:if="${page != nowPage}" th:href="@{/member/mypage(page = ${ page - 1})}" th:text="${page}"></a>
        <!-- 만약 nowPage가 1번이라면, 1번이 아닌 pageNumber를 출력한다.( 1, 2,3,4...) -->
        <!-- a 태그를 사용함으로써, 다른 pageNumber를 클릭하게 되면 링크를 타고 들어가서 다시 페이징이 된다.-->
        <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"> </strong>
        <!-- nowpage의 pageNumber를 출력 -->
    </th:block>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>