<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header">

    <title>주소</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    </script>
</head>
<body>

<div class="container">

    <div th:replace="fragments/bodyHeader :: bodyHeader"/>


    <h2>회원님의 정보</h2>

    <br>

    <div class="form-group">
        <label th:for="username">회원 이름</label>
        <input  type="text" th:field="${member.username}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>
    <br>

    <div class="form-group">
        <label th:for="userId">회원 ID</label>
        <input  type="text" th:field="${member.userId}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>
    <br>

    <div class="form-group">
        <label th:for="email">이메일</label>
        <input  type="text" th:field="${member.email.first}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>
    <br>

    <div class="form-group">
        <label th:for="phoneNumber">전화 번호</label>
        <input  type="text" th:field="${member.phoneNumber}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>

    <br>

    <div class="form-group">
        <label th:for="zipcode">우편번호</label>
        <input type="text" th:field="${member.address.zipcode}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>

    <br>


    <div class="form-group">
        <label th:for="streetAdr">도로명 주소</label>
        <input   type="text" th:field="${member.address.streetAdr}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>

    <br>

    <div class="form-group">
        <label th:for="detailAdr">상세주소</label>
        <input  type="text" th:field="${member.address.detailAdr}" class="form-control" placeholder="입력되지 않은 정보입니다." disabled>
    </div>

    <br>

    <a href="#" th:href="@{/member/mypage/{id}/editMember (id=${member.id})}"
       class="btn btn-primary" role="button">수정</a>

</div>


</body>
</html>