<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header" />

<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>

   <h3>[조건 검색으로 필터링]</h3>
    <div>
        <form  role="form"   action="/register/search/list" th:object="${searchCond}" method="post">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>동물 이름</th>
                <th>동물 성별</th>
                <th>동물 나이</th>
                <th>동물종</th>

            </tr>
            </thead>

            <tbody>
            <tr>

               <td><input  type="text" th:field="${searchCond.animalName}" class="form-control" placeholder="동물의 이름를 입력" ></td>

                <td>
                    <select  th:field="${searchCond.animalSex}">
                    <option value="" selected>선택</option>
                    <option value="male" >수컷</option>
                    <option value="female">암컷</option>
                </select>
                </td>

               <td><input  type="text" th:field="${searchCond.animalAge}" class="form-control" placeholder="동물의 나이를 입력" ></td>
               <td><input  type="text" th:field="${searchCond.animalVariety}" class="form-control" placeholder="동물의 품종를 입력" ></td>


                <td>
                    <button type="submit" class="btn btn-primary">검색</button>
                </td>
            </tr>
            </tbody>
        </table>
        </form>

        <h3>[실종 등록된 리스트]</h3>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#</th>
                <th>동물 이름</th>
                <th>동물 성별</th>
                <th>동물 나이</th>
                <th>실종 문제 해결 여부</th>

            </tr>
            </thead>

            <tbody>
            <tr th:each="register : ${page}">
                <td th:text="${register.id}"></td>
                <td th:text="${register.animalName}"></td>
                <td th:text="${register.animalSex}"></td>
                <td th:text="${register.animalAge}"></td>
                <td th:text="${register.registerStatus}"></td>

                <td>
                    <a href="#" th:href="@{/register/{registerId}/getOneRegisterWithoutUpdate (registerId=${register.id})}"
                       class="btn btn-primary" role="button">자세히 보기</a>
                </td>
                <td>
                    <a href="#" th:href="@{/report/{registerId} (registerId=${register.id})}"
                       class="btn btn-primary" role="button">발견 신고</a>
                </td>
              <!--  <td th:if="${register.reportedStatus.toString()} == 'YES'">
                    <a href="#" th:href="@{/report/{registerId}/getOneReportWithoutUpdate (registerId=${register.id})}"
                       class="btn btn-primary" role="button">신고된 내역들 보기</a>
                </td> -->

                <td th:if="${register.reportedStatus.toString()} == 'YES'">
                    <a href="#" th:href="@{/report/{registerId}/getReports (registerId=${register.id})}"
                       class="btn btn-primary" role="button">신고된 내역들 보기</a>
                </td>

            </tr>
            </tbody>
        </table>

        <!-- pageNumber를 [동적]으로 출력하는 부분 -->
        <th:block th:each="page : ${#numbers.sequence(startPage,endPage)}">

            <a th:if="${page != nowPage}" th:href="@{/register/list(page = ${ page -1})}" th:text="${page}"></a>
            <!-- 만약 nowPage가 1번이라면, 1번이 아닌 pageNumber를 출력한다.( 1, 2,3,4...) -->
            <!-- a 태그를 사용함으로써, 다른 pageNumber를 클릭하게 되면 링크를 타고 들어가서 다시 페이징이 된다.-->
            <strong th:if="${page == nowPage}" th:text="${page}" style="color : red"> </strong>
            <!-- nowpage의 pageNumber를 출력 -->
        </th:block>



    </div>

    <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>

</html>