<html xmlns:th="https://www.thymeleaf.org">
<body>

	<button th:onclick="a();">우편번호 찾기</button>

	<div th:if="${message}">
		<h2 th:text="${message}"/>
	</div>

	<div>
		<form method="POST" enctype="multipart/form-data" action="/">
			<table>
				<tr><td>File to upload:</td>

					<td><input type="file" name="file" multiple/></td></tr>

				<tr><td></td><td><input type="submit" value="Upload" /></td></tr>
			</table>
		</form>
	</div>

	<div>
		<ul>
			<li th:each="file : ${files}">
				<a th:href="${file}" th:text="${file}" />
			</li>
		</ul>
	</div>


<script th:inline="javascript">
	function a(){
	alert('asdf');
	}
</script>


</body>
</html>
